[submodule "adr"]
	path = adr
	url = https://github.com/Godmy/adr.git
[submodule "src/lib/server"]
	path = src/lib/server
	url = https://github.com/Godmy/stylist-svelte-server.git
[submodule "src/lib/theme"]
	path = src/lib/theme
	url = https://github.com/Godmy/stylist-svelte-theme.git
[submodule "src/lib/svg"]
	path = src/lib/svg
	url = https://github.com/Godmy/stylist-svelte-svg.git
[submodule "src/lib/wbd"]
	path = src/lib/wbd
	url = https://github.com/Godmy/stylist-svelte-wbd.git
[submodule "src/lib/geo"]
	path = src/lib/geo
	url = https://github.com/Godmy/stylist-svelte-geo.git
